<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewpoint' content="initial-scale=1.0;width=device-width">
    <meta http-equiv="content" content="text/html;charset=utf-8"/>
    <script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <title>微信JS分享接口</title>
</head>
<body>
    <script>
        wx.config({
            debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
            appId: '', // 必填，公众号的唯一标识
            timestamp:'{$time}' , // 必填，生成签名的时间戳
            nonceStr: '{$nonceStr}', // 必填，生成签名的随机串
            signature: '{$signature}',// 必填，签名，见附录1
            jsApiList: [   // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
                    'onMenuShareTimeline',  //分享到朋友圈
                    'onMenuShareAppMessage', //分享给朋友
                    'onMenuShareQQ',         //分享到qq
                    'onMenuShareWeibo',      //分享到微博
                    'onMenuShareQZone',      //分享到qq空间
                    'chooseImage',           //选择相册
            ]
        });

        wx.ready(function(){
            // config信息验证后会执行ready方法，所有接口调用都必须在config接口获得结果之后，config是一个客户端的异步操作，所以如果需要在页面加载时就调用相关接口，则须把相关接口放在ready函数中调用来确保正确执行。对于用户触发时才调用的接口，则可以直接调用，不需要放在ready函数中。
            wx.onMenuShareTimeline({
                title: '分享到朋友圈', // 分享标题
                link: 'https://www.baidu.com/img/bd_logo1.png', // 分享链接
                imgUrl: 'https://www.baidu.com/img/bd_logo1.png', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                    alert('分享到朋友圈成功');

                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                    alert('取消分享到朋友圈');

                }
            });
            wx.onMenuShareAppMessage({
                title: '分享给朋友', // 分享标题
                desc: '分享给朋友', // 分享描述
                link: 'https://www.baidu.com/img/bd_logo1.png', // 分享链接
                imgUrl: 'https://www.baidu.com/img/bd_logo1.png', // 分享图标
                type: '', // 分享类型,music、video或link，不填默认为link
                dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQQ({
                title: '分享到qq', // 分享标题
                desc: '分享到qq', // 分享描述
                link: 'https://www.baidu.com/img/bd_logo1.png', // 分享链接
                imgUrl: 'https://www.baidu.com/img/bd_logo1.png', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareWeibo({
                title: '分享到微博', // 分享标题
                desc: '分享到微博', // 分享描述
                link: 'https://www.baidu.com/img/bd_logo1.png', // 分享链接
                imgUrl: 'https://www.baidu.com/img/bd_logo1.png', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });
            wx.onMenuShareQZone({
                title: '分享到qq空间', // 分享标题
                desc: '分享到qq空间', // 分享描述
                link: 'https://www.baidu.com/img/bd_logo1.png', // 分享链接
                imgUrl: 'https://www.baidu.com/img/bd_logo1.png', // 分享图标
                success: function () {
                    // 用户确认分享后执行的回调函数
                },
                cancel: function () {
                    // 用户取消分享后执行的回调函数
                }
            });

            /*
            * 选择相册
            * */
            wx.chooseImage({
                count: 1, // 默认9
                sizeType: ['original', 'compressed'], // 可以指定是原图还是压缩图，默认二者都有
                sourceType: ['album', 'camera'], // 可以指定来源是相册还是相机，默认二者都有
                success: function (res) {
                    var localIds = res.localIds; // 返回选定照片的本地ID列表，localId可以作为img标签的src属性显示图片
                }
            });




        });

        function scan() {
            /*
             * 微信扫一扫
             * */
            wx.scanQRCode({
                needResult: 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
                scanType: ["qrCode","barCode"], // 可以指定扫二维码还是一维码，默认二者都有
                success: function (res) {
                    var result = res.resultStr; // 当needResult 为 1 时，扫码返回的结果

                }
            });

        }

        wx.error(function(res){
            // config信息验证失败会执行error函数，如签名过期导致验证失败，具体错误信息可以打开config的debug模式查看，也可以在返回的res参数中查看，对于SPA可以在这里更新签名。

        });
    </script>

<button onclick="showImg();">选择相册</button>
<button onclick="scan();">微信扫一扫</button>
</body>
</html>